/**
* @mixin set-position.
*
* @param $top
* @param $bottom
* @param $left
* @param $right
* @param $pos
* @param $zi
*/
@mixin set-position($top: auto, $right: auto, $bottom: auto, $left: auto, $pos: inherit, $zi: 1) {
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  position: $pos;
  z-index: $zi;
}
